# Ignore virtual environment
venv/

# Ignore notebook checkpoints
.ipynb_checkpoints/

# Ignore all CSVs by default
*.csv

# Allow cleaned_data.csv to be committed
!cleaned_data.csv

# Ignore IMDb & Netflix raw files
*.tsv.gz
netflix_titles.csv





