# Ignore virtual environment
venv/

# Ignore notebook checkpoints
.ipynb_checkpoints/

# Ignore all CSVs by default
*.csv

# Ignore IMDb & Netflix raw files
*.tsv.gz
netflix_titles.csv

# OS-specific & misc
.DS_Store
Thumbs.db
*.log
